//ta bort taggar i ämnesgrejen
.tags-container input {
	display: none;
}

//Ta bort logga ut och DND i chat-menyn - fulhack
/*
#user-control-list li:nth-child(n+7), #user-control-list li:nth-child(5) {
    display:none;
}
*/

//storlek på rubriker
.categories>li .content h2 a, .category>ul>li .content h2 a {
    font-size: 22px !important;
}

//göm fuckin cover
.cover {
	height:10px !important;
	position: relative;
}
/*
.account {
	margin-top: 0;
}
.account .cover {
    background-size: cover;
    background-repeat: no-repeat;
    height: inherit;
    position: inherit;
    margin-bottom: 0;
    width: inherit;
}
*/

@media (min-width: 1200px) {
    .container {
        width: 990px;
    }
}

//randig topics
.categories li:nth-child(even) {
    background-color: #eee;
}

article ul.categories {
 margin-left: 0 !important;
}

//centrera profilen
.profile-wrap {
    margin: 10px;
    text-align: center;
}

h1.fullname {
    font-size: 26px;
}

//account-fab
.btn-group.account-fab {
    bottom: inherit;
}

//minska avståndet under Forum - Moderskeppet
//article ul li {
//    padding-bottom: 0px !important;
//}

//minska och öka avståndet till breadcrumb
//#panel .breadcrumb {
//    margin-bottom: 0px;
//    margin-top: 20px;
//}

//fuskcentrera kategorier på startsida
//ul.categories li {
//    padding-top: 24px;
//}

//minska och öka avståndet till "kategorier"
//@media (min-width: 768px) {
//    h1.categories-title {
//        margin-top: 20px;
//        margin-bottom: 0px;
//    }
//}

@media (max-width: 767px) {

    //minska och öka avståndet till "kategorier"
  //  h1.categories-title {
  //      //margin-top: 10px;
  //  }

    //"för X dagar sedan" i mobil (avstånd)
  //  a.permalink small.timeago {
  //      margin-bottom: 5px;
  //      display: block;
  //  }

    //fuskcentrera kategorier på undersidor
  //  .category>ul.topic-list>li {
  //      padding-bottom: 10px !important;
  //  }

}